<!--
  Generated template for the Scan page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="primary">
		<ion-title>{{ scanSession.name }}</ion-title>

		<ion-buttons end>
			<button [hidden]="!(repeatingStatus == 'stopped')" ion-button icon-only (click)="onRepeatAllClick()">
				<ion-icon name="refresh"></ion-icon>
			</button>

			<button [hidden]="!(repeatingStatus == 'repeating' || repeatingStatus == 'paused')" ion-button icon-only (click)="stopRepeatingClick()">
				<ion-icon name="square"></ion-icon>
			</button>

			<button [hidden]="!(repeatingStatus == 'repeating')" ion-button icon-only (click)="onPauseRepeatingClick()">
				<ion-icon name="pause"></ion-icon>
			</button>

			<button [hidden]="!(repeatingStatus == 'paused')" ion-button icon-only (click)="onResumeRepeatingClick()">
				<ion-icon name="play"></ion-icon>
			</button>

			<button ion-button icon-only (click)="onEditClick()">
				<ion-icon name="create"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>

<ion-content>
	<ion-list [virtualScroll]="scanSession.scannings" bufferRatio="10">
		<button ion-item *virtualItem="let scan; let i = index" (click)="onItemClicked(scan, i)" (press)="onItemPressed(scan, i)"
		 [color]="scan.repeated ? 'light' : 'default'">
			<ion-grid no-padding>
				<ion-row>
					<ion-col align-self-start col-1>
						<ion-icon [name]="scan.ack ? 'checkmark-circle' : 'alert'" [style.color]="scan.ack ? 'green' : 'red'"></ion-icon>
					</ion-col>
					<ion-col>
						{{ getScanText(scan) }}
					</ion-col>
				</ion-row>
			</ion-grid>
		</button>
	</ion-list>

	<ion-fab bottom right>
		<button ion-fab (click)="onAddClicked()">
			<ion-icon name="camera"></ion-icon>
		</button>
	</ion-fab>
</ion-content>

<ion-footer ion-fixed>
	<ion-toolbar>
		<ion-input clearInput [(ngModel)]="keyboardBuffer" placeholder="Keyboard input" type="text" #keyboardInput (blur)="keyboardInputFocussed = false"
		 (focus)="keyboardInputFocussed = true"></ion-input>
		<ion-buttons end>
			<button ion-button strong (touchstart)="$event.preventDefault();$event.stopPropagation();" (touchend)="onEnterClick($event);">
				<ion-icon name="send" icon-only color="primary"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>